@model IEnumerable<Project1.Models.CartItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MASP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soluong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thanhtien)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MASP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gia)
        </td>
        <td>
            <Form action=@Url.Action("Update") method="get">
                <input type="hidden" name="Id" value=@item.MASP>
                <input type="number" name="soluong" value=@item.Soluong>
                <button type="submit">Update</button>
            </Form>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thanhtien)
        </td>
        <td>
            |
            <a href=@Url.Action("Delete", "Cart", new { Id = item.MASP })> Delete</a>
        </td>
    </tr>
}

</table>
<a href=@Url.Action("Thanhtoan","Cart") class="btn btn-success"> Thanh Toán</a>
